/*!
 *
 */

/*General Style*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

* {
   -ms-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.log-out h2{
	text-align: center;
    border: 1px solid #ddd;
    width: 400px;
    height: 100px;
    border-radius: 8px;
    line-height: 85px;
    margin-left: 360px;
    color: #3a880b;
    background: #efe9e9;
	}
body {
    /*padding-top: 70px;*/ /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    font-family: 'Lato', sans-serif;
    color: #34495e;
	font-size:12px;
}

html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
}

#serviceContainer{
	/*background-color:white;
	height: 100px;
	    width: 50%;*/
}

#serviceContainer > .form-group > input{
width: 170px;
}

.validationError.errorMsg{
	color:#eb4d4d;
	font-size: 10px;
    margin-top: 3px;
}

.getButton[disabled],.newButton[disabled],.confirmBtn[disabled],.invoiceBtn[disabled],.btn.btn-theme[disabled]{
	background-color:lightgray !important;
	color:black;
	border-color:lightgray;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto;
}

 #proicons{
	margin-top: 25px;
    height: 40px;
border: 1px solid #ddd;
    padding: 10px;
background:#838a8a;
border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	width:100%;
}


.client-add > .getButton{
/*margin-top: 19px;*/
  /*margin-left: -23px;*/
  background-color: rgb(0,137,160);
  padding: 10px 20px;
}

.client-add > .closeButton{
	/*margin-top: 19px;*/
  margin-left: -1px;
  background-color: red;
  padding: 10px 25px;
}

.client-add > .newButton{
/*margin-left: 74px;
margin-top: -38px;*/
background-color:#ff9800;
}

.client-add > button{
	background-color: rgb(161,177,188);
    border-color: rgb(161,177,188);
}

h2 {
   font-size: 1.9em;
   font-weight: bolder;
}

a:link{
  text-decoration: none!important;
}

.grey {
   color: #a1b1bc;
}

.light-grey {
   color: #b8c6d0;
}

.white {
   color: #fff;
}

.dark-blue {
   color: #34495e !important;
}

.red {
   color: #c0392b;
}

.light-blue {
   color: #1abc9c;
}

.text-bold {
   font-weight: 700;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.btn-green {
   color: #fff;
   background-color: #5cb85c;
   border: none;
}

.btn-green:hover {
   color: #fff;
   background-color: #449d44;
}

.btn-red {
   color: #fff;
   background-color: #e74c3c;
   border: none;
}

.btn-red:hover {
   color: #fff;
   background-color: #c0392b;
}

.btn-blue {
   color: #fff;
   background-color: #3498db;
   border: none;
}

.btn-blue:hover {
   color: #fff;
   background-color: #2980b9;
}


.paid {
   background-color:#2ecc71;
   font-weight: bold;
   font-size: 9px;
   padding:5px;
   color:#fff;
   border-radius:3px;
}
.unpaid {
   background-color:#e74c3c;
   font-weight: bold;
   font-size: 9px;
   padding:5px;
   color:#fff;
   border-radius:3px;
}
.Partiallypaid {
   background-color:#f1c40f;
   font-weight: bold;
   font-size: 9px;
   padding:5px;
   color:#fff;
   border-radius:3px;
}

.whiteBg {
   background-color: #fff;
}

.text-left {
   text-align: left !important;
}

.text-center {
   text-align: center;
}

.float-right {
   float: right;
}

.float-left {
   float: left;
}

.container-fluid {
   margin-top: 5px;
}

.container-small {
   max-width: 500px;
}

.modal-header {
    background-color: #0487A1;
    color: #FFF;
	margin-right: -1px;
    border-radius: 5px;
	margin-left:-1px;
}

.center {
   margin: 0 auto;
}

.btn-place-order {
   background-color: #0487A1;
   color: #fff;
   height:40px;
   font-size: 16px;
}
.btn-place-order:hover{
   background-color: #056e79;
   color: #fff;
}
.btn-add:hover {
   color: #eee;
   background:#056e79;
}
.btn-add:focus {
   color: #eee;
}
.btn-add{
	background: #0487A1;
    color: #fff;
    border: 1px solid #0487A1;
}
.btn-default:hover{
	color:#333 !important;
}
.btn-danger {
    background: #d43f3a;
}

div.DTTT { margin-bottom: 0.5em; float: right; }
div.dataTables_wrapper { 
	clear: both;
	margin-top:50px;
	/*padding-bottom: 10px;*/
}
.content {
   margin-top: 90px;
   margin-bottom: 90px;
}

#printSection{
   color: #000;
   margin: 0 auto;
}

#ticket .modal-dialog
{
  /*width: 450px;*/
  width:80%;
}


#modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
/*print styling*/

@media print {
   .modal-dialog{
      width: 100% !important;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666666666666%;
}
.col-md-10 {
  width: 83.33333333333334%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666666666666%;
}
.col-md-7 {
  width: 58.333333333333336%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666666666667%;
}
.col-md-4 {
  width: 33.33333333333333%;
 }
 .col-md-3 {
   width: 25%;
 }
 .col-md-2 {
   width: 16.666666666666664%;
 }
 .col-md-1 {
  width: 8.333333333333332%;
 }
  body * {
    visibility:hidden;
  }
  .container-fluid {
     display: none;
 }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSectionInvoice, #printSectionInvoice * {
    visibility:visible;
  }
  #printSection {
     text-transform:uppercase;
     font-size: 9px;
     left: 0;
     top: 0;
     padding: 0;
     margin:0;
  }
  #printSection h4{
     font-size: 12px;
  }
  #printSection tr td {
     margin: 0;
     padding: 0;
 }
 #printSection .bg-success, #printSection .bg-danger{
    visibility:hidden;
}
  @page {
  margin: 0;
  }
  .hiddenpr {
      display: none !important;
  }
  
  .hiddenpr[disabled],.confirmSuccess[disabled]{
	  background-color:lightgray;
	  color:black;
  }
  
  html, body {
  zoom: 100%;
  overflow:hidden !important;
  }
}

/*page loading animation*/
#loadingimg {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/Preloader.gif") 50% 50% no-repeat #f9f9f9;
}

/*empty liste message style*/

.messageVide{
   font-size: 30px;
   width: 100%;
   background-color: white;
   padding: 1.5em 0;
   border-radius: 5px;
   font-weight: lighter;
   display: inline-block;
   text-align: center;
   margin-left:15px;
}
.messageVide span{
   font-size: 15px;
}

/*slimscroll fix*/

.slimScrollDiv{
   display: inline-block !important;
   width: 100% !important;
}

#productList {
   width: 100% !important;
   overflow: hidden;
   width: auto;
   height: 355px;
}

/*******************************navbar style*******************************/
.navbar-brand{
   margin-right: 50px;
   margin-top: -8px;
}

.navbar-brand img {
  width: 80%;
   /*padding-top: 33px;*/
   padding-top: 26px;
}

.navbar {
 /*-webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3);
   box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3);*/
}

.navbar-nav a{
   color: #a1b1bc;
}

.flag {
   width: 35px;
   margin-right: 10px;
}

.language ul li{
   padding: 10px 0;
}

.language ul li a {
   font-weight: bold;
}

/*******************************left side style*******************************/

.left-side {
   background-color: #ecf0f1;
   border-radius: 5px;
   padding-bottom: 20px;
  /* margin-bottom: 150px;*/
   margin-bottom: 0px;
   border: 3px solid white;
   padding-left:0px;
   padding-right:0px;
}

/*top section*/

.barcode {
   /*margin-top: 1.5em;*/
}

.table-header h3{
   font-weight: 700;
   font-size: 1.1em;
   margin: 10px 0;
   text-align: center;
   /*text-transform: uppercase;*/
   padding-right: 30px;
}

.iconBackground{
	color:rgb(0,137,160) !important;
	font-size: 20px;
}

.client-add span {
   float: right;
  /* margin-top: 20px;*/
}

/*table section*/

.product-details {
   border: none;
   margin-bottom: 3px;
   color: #81909a;
}

.product-details input[type="text"] {
   width: 4em;
   padding: 3px;
   display: inline;
   text-align: right;
   height: 1.8em;
   font-size: 11px;
}

.delete-product {
   color: #f65e48;
   margin-top: 1px;
}

.textPD {
   margin-top: 5px;
   float: left;
   font-size:11px;
}

.subtotal {
   float: right;
}

/*footer style (total section)*/


.totalTab table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px !important;
    -webkit-border-bottom-left-radius:10px !important;
    border-bottom-left-radius:10px !important;
}

.totalTab table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px !important;
    -webkit-border-bottom-right-radius:10px !important;
    border-bottom-right-radius:10px !important;
}

.totalTab .active {
   font-weight: bolder;
}

.total-input {
   border: none;
   outline: none;
}

/*******************************right side style*******************************/
/*Hold tabs styling*/
.Hold {
   cursor: pointer;
   text-align:center;
   margin:5px 1px;
   padding: 2px 13px;
   background-color:#E2E2E2;
   border-radius:3px;
   color:#6B6B6B;
   text-transform:uppercase;
   font-size: 20px;
   display:inline-block;
   font-weight:600;
   padding-bottom: 7px;
   border-bottom: 3px solid #6EC89B;
}
.Hold span {
   font-size: 12px;
   color:#b9b2b2;
   margin-left: 8px;
}
.selectedHold{
   background-color:#6B6B6B;
   color:#E2E2E2;
   border-bottom: 3px solid #f65e48;
}
.pl {
   background-color:#aaaaaa;
   color:#fff;
   border-bottom: 3px solid #ffb7ac;
}
/*categorie styling*/
.categories {
   cursor: pointer;
   text-align:center;
   margin:5px 2px;
   padding: 10px 20px;
   background-color:#E2E2E2;
   border-radius:3px;
   color:#6B6B6B;
   text-transform:uppercase;
   display:inline-block;
   font-weight:500;
   padding-bottom: 7px;
   border-bottom: 3px solid #0487A1;
   font-size:12px;
}
.selectedGat{
   background-color:#6B6B6B;
   color:#E2E2E2;
   border-bottom: 3px solid #f65e48;
}
/*search bar styling*/
#searchContaner{
    margin-top:10px;
}
.stylish-input-group .input-group-addon{
    background: #0487A1 !important;
	color:#fff;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/*product section styling*/
.right-side {
   background-color: #ecf0f1;
   border-radius: 5px;
   /*padding-bottom: 20px !important;*/
   /*padding-bottom: 40px !important;*/
   border: 3px solid white;
   overflow: hidden;
}

/*.product {
   height: 120px;
   width: 120px;
   border-radius: 8px;
   text-align: center;
   background-size: cover;
   margin-top: 20px;
   color: #fff;
   overflow: hidden;
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}  11-9-2017*/
.product {
  /* height: 239px;*/
	height: 170px;
    width: 100%;
    border-top-right-radius: 8px;
	border-top-left-radius: 8px;
    text-align: center;
    background-size: cover;
    margin-bottom: 10px;
    color: #fff;
    overflow: hidden;
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
   
   left: 0;
   top: 25px;
   background: #fff;
   /*border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;*/
	border: 1px solid #ddd;
}
/*.product img {
   width: 120px;
   height: 120px;
   opacity: 0.3;
   margin-top: -91px;
   position: absolute;
   left: 0;
   top: 90px;
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}*/
.product img {
	/*width: 100%;
	height: 65%;*/
	/*width: 80%;*/ 
	/*width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
   /* left: 50%; */
    /*margin-right: -50%;
    transform: translate(-50%, -50%);*/
}

.product img {
	/*width: 80%; */
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    position: absolute;
    /* top: 60%; */
    /* left: 50%; */
    /* margin-right: -50%; */
	transform: translate(-50%, 20%);
	-moz-transform: translate(-50%, 20%);
	-ms-transform: translate(0%, 20%);
	-webkit-transform: translate(-50%, 20%);
}

#proicons{
	border: 1px solid #ddd;
    padding: 8px 5px;
	background:#fff;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*.product:hover img {
   -webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
   -o-transform: scale(1.5);
   -ms-transform: scale(1.5);
   transform: scale(1.5);
   opacity: 0.2;
}*/

/*.color01 {
   background-color: #34495e;
}
.color02 {
   background-color: #1abc9c;
}
.color03 {
   background-color: #2ecc71;
}
.color04 {
   background-color: #3498db;
}
.color05 {
   background-color: #9b59b6;
}
.color06 {
   background-color: #e67e22;
}
.color07 {
   background-color: #e74c3c;
}*/

/*.product h3 {
   display: inline-block;
   font-weight: 700;
   font-size: 0.9em;
   text-transform: uppercase;
   -webkit-transition: all 0.1s ease-in-out 0.1s;
   -moz-transition: all 0.1s ease-in-out 0.1s;
   -o-transition: all 0.1s ease-in-out 0.1s;
   -ms-transition: all 0.1s ease-in-out 0.1s;
   transition: all 0.1s ease-in-out 0.1s;
}*/

.product h3 {
    /* display: inline-block; */
    font-weight: 700;
    margin-top: 0px;
	margin-bottom: 0px;
    font-size: 12px;
    background: #0487a1;
    /*opacity: 0.9;   11-9-2017*/
    padding: 10px 9px;
    text-transform: uppercase;
     -webkit-transition: all 0.1s ease-in-out 0.1s; 
    -moz-transition: all 0.1s ease-in-out 0.1s;
    -o-transition: all 0.1s ease-in-out 0.1s;
    -ms-transition: all 0.1s ease-in-out 0.1s;
    transition: all 0.1s ease-in 0.1s;
}

.product:hover h3 {
   opacity: 1;
}

.mask h3 {
   margin-top: 0;
   opacity: 0;
}

.product p {
   opacity: 0;
   font-size: 0.6em;
   text-transform: uppercase;
   -webkit-transform: scale(2);
   -moz-transform: scale(2);
   -o-transform: scale(2);
   -ms-transform: scale(2);
   transform: scale(2);
   -webkit-transition: all 0.1s ease-in-out 0.1s;
   -moz-transition: all 0.1s ease-in-out 0.1s;
   -o-transition: all 0.1s ease-in-out 0.1s;
   -ms-transition: all 0.1s ease-in-out 0.1s;
   transition: all 0.1s ease-in-out 0.1s;
}
.product:hover p {
   opacity: 0.7;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

/*.product:hover {
   -webkit-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.53);
   -moz-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.53);
   box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.53);
}*/


/******** datatable styling ****/

.dataTables_filter {
   margin-top: 15px;
}


/***************** Media queries **********/

/* ipad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

     .product {
       height: 90px;
       width: 90px;
      }

     /* .product img {
         width: 90px;
         -ms-transform: scale(1.2);
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
      }*/

      .product h3 {
         font-size: 0.7em;
         margin-bottom: -10px;
      }

      .textPD {
         font-size: 0.7em;
         font-weight: 600;
         margin-left: 5px;
      }

      .product-details input[type="text"] {
         width: 1.5em;
         padding: 3px;
         border: none;
         display: inline;
         text-align: center;
         height: 1.8em;
      }
}

/* nexus 7 Portrait */
@media screen
  and (device-width: 600px)
  and (device-height: 960px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {

     .textPD {
        font-size: 0.7em;
        font-weight: 600;
     }

     .product-details input[type="text"] {
        width: 1.5em;
        padding: 3px;
        border: none;
        display: inline;
        text-align: center;
        height: 1.8em;
     }
}

/* phone Portrait */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
   .barcode {
      margin-bottom: 15px;
   }

  
   .productNum i{
      display: none;
   }
   .productD{
      margin-left: -15px;
      margin-top: -25px;
   }
   .product {
     height: 90px;
     width: 90px;
    }

    .product h3 {
      font-size: 0.7em;
    }

   /* .product img {
       width: 90px;
    }*/

    .product p {
      display: none;
   }
}


/************************** LOGIN **********************/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color:#f1ecec;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  border-top: 3px solid #0487A1;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.loginmodal-container h1 {
  text-align: center;
  /*font-size: 1.8em;*/
	font-size:20px;
	padding-bottom:10px;
}

.loginmodal-container img {
   display: inline-block;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background: #0487A1;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
  text-align: center;
	padding-top:20px;
}

/****************************************** chekbox & themepicker styling ******************/

.label-text {
   font-size: 15px;
   font-weight: bold;
}

input[type=checkbox] {
  /*display: none;*/
}
input[type=checkbox] + .label-text:before {
   content: "\f096";
   font-family: "FontAwesome";
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   width: 1em;
   font-size: 20px;
   display: inline-block;
   margin-right: 5px;
}
input[type=checkbox]:checked + .label-text:before {
   content: "\f14a";
   color: #06a3e9;
}


.themesPick > input{ /* HIDE RADIO */
  display:none;
}
.themesPick > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.themesPick > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #06a3e9;
}

/* ----- Data Tables ----- */
		div.dataTables_paginate ul.pagination {
			margin: 10px 0;
		}
		.dataTables_paginate{
			margin: -7px 0 7px 0;
		}
        .dataTables_paginate li.paginate_button.previous.disabled a, .dataTables_paginate li.paginate_button.next.disabled a{
            color: #34495e;
			border: 0;

        }
        .dataTables_paginate li.paginate_button a {
            height: 25px;
            line-height: 25px;
            padding-top: 0px;
            color:#444;
            font-size:12px;
            border:0;
        }
        .dataTables_paginate li.paginate_button a:hover{
        	background:none;
        	color:#11A7DB;
        }
        .dataTables_paginate li.paginate_button.active a {
            background:#FFF;
            color:#11A7DB;
            border:0;
        }

		.paginate_disabled_previous, .paginate_disabled_next, a.paginate_disabled_previous:hover, a.paginate_disabled_next:hover {
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			cursor: default;
			background-image: none;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 4px 9px;
			font-size: 12px;
			line-height: 1.428571429;
			border-radius: 0;
			margin-left: 5px;
			color: #ADADAD;
			text-decoration: none;
		}
		.paginate_enabled_next, .paginate_enabled_previous, a.paginate_enabled_previous:hover, a.paginate_enabled_next:hover{
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 4px 9px;
			font-size: 12px;
			line-height: 1.428571429;
			border-radius: 0;
			color: #007AFF;
			margin-left: 5px;
			text-decoration: none;
			background:none;
		}


/* ----- Data Tables End ----- */


/************ loading animation **********/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/********************************** chart Style *********************/

#canvas-holder {
      width: 100%;
      text-align: center;
   }
   #chartjs-tooltip {
      opacity: 1;
      position: absolute;
      background: rgba(0, 0, 0, .71);
      font-size: 11px !important;
      color: white;
      padding: 5px;
      border-radius: 3px;
      -webkit-transition: all .1s ease;
      transition: all .1s ease;
      pointer-events: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
   }
   #chartjs-tooltip.below {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
   }
   #chartjs-tooltip.below:before {
      border: solid;
      border-color: #111 transparent;
      border-color: rgba(0, 0, 0, .8) transparent;
      border-width: 0 8px 8px 8px;
      bottom: 1em;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      z-index: 99;
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
   }
   #chartjs-tooltip.above {
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
   }
   #chartjs-tooltip.above:before {
      border: solid;
      border-color: #111 transparent;
      border-color: rgba(0, 0, 0, .8) transparent;
      border-width: 8px 8px 0 8px;
      bottom: 1em;
      content: "";
      display: block;
      left: 50%;
      top: 100%;
      position: absolute;
      z-index: 99;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
   }

/* Stats carts */
   .statCart{
		padding: 20px 25px;
  		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.29);
	}
   .Statcolor01 {
      background-color: #1ABC9C;
      color: #fff;
   }
   .Statcolor02 {
      background-color: #fb6e52;
      color: #fff;
   }
   .Statcolor03 {
      background-color: #11a7db;
      color: #fff;
   }
	.statCart i {
		display: inline;
		font-size: 50px;
		padding: 0 25px 0 0;
		border-right: 1px solid #fff;
		float: left;
		margin-right: 25px
	}
	.statCart h1 {
		display: inline;
	}
	.statCart span {
		font-weight: lighter;
	}
/*date picker*/
.RangePicker {
    color: #fff;
    background-color: #34495e;
    border: 1px solid #34495e;
}
.range_inputs .btn-success {
   background-color: #34495e;
   border-color: #34495e;
}
.btn-picker {
   color: #fff;
   background-color: #34495e;
   border-color: #34495e;
   width: 100%
}
.btn-picker:hover {
   color: #fff;
}
.btn-picker:focus {
   color: #fff;
}
.rangeStat button {
   margin-top: 23px;
}

/**** year Table */

.StatTable {
   width: 100%;
   height: 200px;
}
.StatTable td{
   border: 1px solid #ddd;
   text-align: right;
   padding: 10px;
   font-size: 20px;
   color: #aaa;
}
.revenuespan{
   float: left;
   background-color: #1ABC9C;
   padding: 4px 13px;
   font-size: 14px;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
}
.expencespan{
   float: left;
   background-color: #ed5564;
   padding: 4px 13px;
   margin-left: 8px;
   font-size: 14px;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
}


.statYear {
   display: block !important;
   text-align: center;
   width: 100%;
}

.btn-Year {
   color: #fff;
   background-color: #34495e;
   border-color: #34495e;
   margin-bottom: 20px;
   padding: 5px 20px;
}

.ReportTotal {
   background-color: #FB6E52;
   padding: 4px 13px;
   border-radius: 10px;
   color: #fff;
}

.tooltip.in {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/******************** card payement style **************/

.cc-num {
   background-image:url('../img/CC_bg.png');
   background-repeat:repeat-x;
}

.padding-s {
   padding: 0 3px !important;
   margin: 0 0 30px 0 !important;
}

.CreditCardNum i{
   float: right;
   margin: 5px;
   color: #bababa;
}

/********************* tab styles **************/
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
/*body{ background: #EDECEC; padding:50px}*/



/***************** stores list ******************/
.choose_store {
   color: #34324b;
   margin-top: 60px;
   text-transform: uppercase;
   font-size: 1.7em;
   font-weight: 700;
}

#storeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0; }
  #storeline a {
    text-decoration: none; }

  #storeline .listing {
    background: #FFF;
    border: 1px solid #e6e7e9;
    border-radius: .3rem;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;
    width: 96%;
    transition: all .3s ease-in-out; }
    #storeline .listing img, #storeline .listing .info, #storeline .listing .store_type {
      display: table-cell;
      vertical-align: middle;
      font-size: .9em;
      color: #74718f; }
    #storeline .listing .image_wrapper {
      width: 60px; }
      #storeline .listing .image_wrapper img {
        width: 60px;
        display: block;
        margin: 0 auto;
        border-radius: .25em; }
    #storeline .listing .info {
      line-height: 1.25;
      width: 640px;
      padding-left: 25px; }
      #storeline .listing .info .store_title {
        font-weight: 700;
        color: #34324b;
        font-size: 1.5em; }
      #storeline .listing .info .store_info {
        color: #74718f;
        font-size: .9em;
        display: block; }
        #storeline .listing .info .store_info span {
          margin: 0 .75em; }
    #storeline .listing .store_type {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75em;
      position: relative;
      white-space: nowrap;
      padding-top: 0.6em;
      width: 100px; }
      #storeline .listing .store_type:before {
        content: " ";
        background: #a378fc;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: 28px; }
    #storeline .listing .store_close {
      color: #fd7576; }
      #storeline .listing .store_close:before {
        background: #fd7576; }
    #storeline .listing .store_open {
      color: #1ABC9C; }
      #storeline .listing .store_open:before {
        background: #1ABC9C; }
    #storeline .listing:hover {
      cursor: pointer;
      box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1); }

/********************* close & switch register menu ***************/
.cbp-vimenu {
	position: fixed;
	top: 80px;
	right: 0;
   z-index: 9999;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #8C9899;
}
.cbp-vimenu li a {
	display: block;
	height: 2em;
	width: 2em;
   padding-top: 4px;
	text-align: center;
	color: #fff;
	position: relative;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}

.cbp-vimenu li a:hover,
.cbp-vimenu li:first-child a{
	background: #F65E48;
	color: #fff;
}

.btn-orange {
   color: #fff;
   background-color: #FB6E52;
   border: none;
}




/* adding lakshmi styles 8-6-2017*/

.addrow-l{
	margin-right: 15px !important;
    margin-left: 15px !important;
}
.btn-group>.btn+.dropdown-toggle{
	padding-bottom:12px !important;
}
.navbar{
	margin-bottom: 0px !important;
}
.pos-main>.container-fluid>.row{
	/*margin-top:52px;*/
	background-color:white;
}
.login-details{
	margin-top: 10px;
    margin-bottom: 10px;
	/*border-top: 2px dashed #eee;*/
}
#navbar-pic{
	padding-right:50px;
	padding-top:25px;
}
button:hover{
	color:#fff !important;
	outline:none !important;
	text-decoration: none;
}
button:focus{
	color:#fff !important;
	outline:none !important;
	text-decoration: none;
}
.btn-action {
	color: #fff;
    background-color: #0487A1;
    border-color: #0487A1;
}
.btn-action:hover{
	color: #fff;
    background-color: #056e79;
    border-color: #056e79;
}
.fa{
	padding-right:5px;
	}
	.buttons-countrows{
    text-align:left;
    margin-top: 10px;
	}
	.countpages{
		border: 1px solid #9d9d9d;
		padding: 12px 10px 11px 10px;
		margin-left: -3px;
	}
	.placeordertable>tbody>tr>td{
		border-top: 0px solid #ddd !important;
		text-align:left !important;
	}
	.table>thead>tr>th{
		padding:10px !important;
		text-align:center;
	}
	.table>tbody>tr>td{
		text-align:left;
	}
	.btn-next{
		background: #0487A1 !important;
		border: 1px solid #0487A1 !important;
		color:#fff;
		height: 40px;
		text-align: center;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		margin-top:-4px;
	}
	.btn-prev{
		background: #0487A1 !important;
		border: 1px solid #0487A1 !important;
		color:#fff;
		height: 40px;
		text-align: center;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-top: -4px;
	}
	.btn-next:hover{
		background: #056e79 !important;
		border: 1px solid #056e79 !important;
		color:#fff;
	}
	.btn-prev:hover{
		background: #056e79 !important;
		border: 1px solid #056e79 !important;
		color:#fff;
	}
	.table-head-styl{
		background-color:#0487A1;
		color:#fff;
		text-align:center;
	}
	.fa.fa-sign-out.fa-lg{
		color:#0487A1;
		font-size:15px;
		/*margin-top: -4px;*/
	}
	.fa.fa-bell-o{
		color:#0487A1;
		font-size:20px;
	}
	.notificationBadge{
	margin-top: -30px;
    margin-left: -8px;
	}
	
	.close{
		opacity:0.9 !important;
		color:#fff;
	}
	.viewmoretable>tbody>tr>td{
		border-top: 0px solid #ddd !important;
		text-align:left;
	}
	
	
	
#paymentMethodlbl {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 5px;
}
.form-group{
	margin-bottom: 0px !important;
}
#order_title{
	font-weight:bold;
	font-size:16px;
}

#cash-sec{

margin-bottom: 10px;
}
#return-sec{
margin-bottom: 10px;
}

 #ticketModal{
width:80% !important;
}

#cashGivenId{
 display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 5px;
}

#returnId,#cardEndsId{
 display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 5px;
}
/* loading button styles start here */
	
/* loading button styles end here */
.smt_logo{
	/*width: 40%;
    margin-top: 20px;   
    margin-left: 45%;*/
	width: 33%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 45%;
}
.login-query{
	 margin-top: 20px;
	 color:#383737;
	 font-weight: bold;
	 font-size:13px;
}
.navbar-default .navbar-nav>li>a{
	font-size: 10px;
	color: #000;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover {
    /*color: #fff;
    background-color: #6B6B6B;
	border-bottom:3px solid #f65e48;
	border-radius: 7px;*/
}
.navbar-default .navbar-nav>li>a:focus {
   /* color: #fff;
    background-color:#6B6B6B;
	border-radius: 7px;
	border-bottom:3px solid #f65e48;*/
}
.navbar-default .navbar-nav>li>a:active {
   /* color: #fff;
    background-color:#6B6B6B;
	border-radius: 7px;
	border-bottom:3px solid #f65e48;*/
}
.selectedGat_cat:hover{
	background-color: #6B6B6B;
    color: #E2E2E2;
    border-bottom: 3px solid #f65e48;
}
.selectedGat_cat:focus{
	background-color: #6B6B6B;
    color: #E2E2E2;
    border-bottom: 3px solid #f65e48;
}
.selectedGat_cat:active{
	background-color: #6B6B6B;
    color: #E2E2E2;
    border-bottom: 3px solid #f65e48;
}
#pos-report{
	margin-bottom: 20px;
}
/*  service module strat here   */
#serviceContainer{
	margin-top:60px;
}
#service_module{
	margin-top:15px;
}
#service_module tbody tr td{
	font-size:12px;
}
#service_module tbody tr th{
	font-size:12px;
}
.warrenty_time_crossed{
	width: 100%;
    border: 1px solid #e1a753;
    background: #e1a753;
    color: #fff;
    padding: 5px 0;
    margin-top: -10px;
    margin-bottom: 18px;
    text-align: center;
}
.under_warrenty{
	width: 100%;
	margin-top:10px;
    border: 1px solid #b0dc7d;
    background: #b0dc7d;
    color: #fff;
    padding: 5px 0;
    text-align: center;
	margin-bottom:10px;
}
.service_module1{
	border:2px solid #dfdbdb;
	margin-top:10px;
	padding:15px;
}
.service_module2{
	border: 2px solid #dfdbdb;
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.service_module3{
	border:2px solid #dfdbdb;
	margin-top:20px;
	padding:15px;
}
.service_module4{
	border:1px solid #dfdbdb;
	margin-top:20px;
	padding:15px;
}
.aa{
	display:inline-block;
	margin-right: 30px;
}
.aa input{
	width:100%;
}

/* .aa > .form-control{
  margin-top: -18%;
    margin-left: 55%;
} */

.service_item{
	margin-top:15px;
}
#service_order_tbl thead th{
	text-align:left;
	background:#068693;
	color:#fff;
	font-weight:bold;
}
#service_item_tbl thead th{
	text-align:left;
	background:#068693;
	color:#fff;
	font-weight:bold;
}
.btn-theme{
	background:#068693;
	border:1px solid #068693;
	color:#fff;
}
.service_order_generation{
	margin-top:10px;
}
.service_invoice_generation{
	margin-top:10px;
}
.service_invoice_get{
	margin-bottom:10px;
}
/*  service module end here   */

/*** 28-11-2017 css styles start here**/
.btn_edit_cust{
	padding: 0px 12px !important;
	font-size: 12px !important;
}
.badge{
margin-left: 73%;
    margin-top: 20px;
    z-index: 1;
	position: absolute;
	background:#e12828 !important;
}
.exchange_old_smt_get{
	background:#0487a1 !important;
	border:1px solid #0487a1 !important;
	padding: 3px 10px;
}
.exchange_logins{
	border: 1px solid #eee;
    text-align: center;
    background: #eee;
	margin: 20px 0;
	padding: 20px 0;
	box-shadow: 3px 3px 10px #ddd;
}
.category_names_navbar:hover{
	color: #fff;
    background-color: #6B6B6B;
    border-radius: 3px;
    border-bottom: 3px solid #f65e48;
}
.category_names_navbar:focus{
	color: #fff;
    background-color: #6B6B6B;
    border-radius: 3px;
    border-bottom: 3px solid #f65e48;
}
/*** 28-11-2017 css styles end here**/


/***   16-12-2017 styles start here ***/
.navbar{
	min-height: 10px !important;
}
.navbar-default1{
	background-color: #f8f8f8 !important;
    border-color: #e7e7e7 !important;
	height: 30px;
}
.navbar-nav>li>a{
	padding-top: 5px !important;
    padding-bottom:2px !important;
    line-height: 18px !important;
	color:#666;
	border-radius:3px;
	font-size: 10px;
}
.navbar-nav.products_menu>li>a:hover{
	/*background:#6B6B6B;
	color:#fff;
	border-bottom:3px solid #f65e48;*/
	color:#0487a1;
}
.navbar-nav.products_menu>li>a:focus{
	background:#6B6B6B;
	color:#fff;
	border-bottom:3px solid #f65e48;
}
.navbar-nav.products_menu>li.active>a{
	background:#6B6B6B;
	color:#fff;
	border-bottom:3px solid #f65e48;
}
#Table_filter{
	margin-bottom: 5px;
	float:right;
}
#order_info_content{
	border: 1px solid #ddd;
	padding: 10px 15px 45px 15px;
    background: #f8f8f8;
    border-radius: 5px;
}
#mf{
	margin-top: 110px;
}
.container-fluid1{
	padding-top:5px;
	padding-bottom:5px;
}
#login_top_headr{
	padding: 5px 0;
}
.orderinfo_user{
	float:left;
	font-size:12px;
	line-height: 1.6;
}
.orderinfo_name{
	font-size:12px;
	line-height: 1.6;
}
.orderinfo_totalamt{
	float:right;
	font-size:12px;
	line-height: 1.6;
}
#ordrno{
	padding-right:10px;
}
#ordrname{
	padding-right:10px;
}
#ordrsmtid{
	padding-right:10px;
}
#top_logo_pos img{
	width:50%;
}
b{
	font-weight:bold;
}
#usrName{
	float:right;
}
#shopName{
	
}
#sesTime{
	
}
.client_add_users{
	margin-left:-55px;
}
#confirmBtn_btm{
	height:30px;
	margin-right: 70px;
	margin-left: 15px;
}
#products_display_part{
	padding:7px 15px;
}
#pro_disply_part{
	position: relative;
    overflow-y: scroll;
    height: 368px;
}
#odinf{
	margin-top:20px;
}
#getItemDetails_btn{
	margin-right: 77%;
    margin-top: -23px;
    float: right;
    padding: 5px 15px;
}
#addServiceDetails_btn_get{
	margin-right: 73%;
    margin-top: -22px;
    float: right;
    padding: 5px 15px;
}
#serviceCharges{
	font-size: 13px;
    margin-bottom: 3px;
}
.table-responsive {
    min-height: .01%;
   overflow-x: inherit;
}
#addServiceDetails_btn{
	/*margin-right: 44%;
	float: right;*/
	margin-top: 10px;   
    padding: 5px 10px;
}
.service_usr{
	float:left;
	font-size:12px;
	line-height:1.5;
}
.service_gst{
	font-size:12px;
	line-height:1.5;
}
.service_inv{
	float:right;
	font-size:12px;
	line-height:1.5;
}
#servOrdrBtn{
	float:right;
	margin-right:5px;
}
.service_order_generation{
	margin-bottom:10px;
}
#menuToggle{
	padding-right:0px !important;padding-left:0px !important;
}
.paymntMthd{
	float:left;
	font-size:12px;
}
.subtotal_invc{
	float:right;
	font-size:12px;
	line-height: 1.5;
}
.subtotal_invc span{
	float:right;
	font-size:12px;
}
#invc_btns{
	float:right;
}
#card_type_wid{
	width:50%;
}
#cash_given_invc #cash_given{
	width:45%;
}
#cash_given_invc #return_amt{
	width:45%;
}
#tax_invoice1{
	line-height:1.7;
}




/****   responsive styles start here ****/

@media screen and (max-width:468px) and (min-width:200px) {
	#login_top_headr{
		padding: 10px 0;
	}
	.smt_logo{
		margin-left: 37% !important;
		text-align: center !important;
		width: 25% !important;
	}
	.login-title-pos {
		font-size: 16px !important;
		margin-top: 5px !important;
	}
	.login-query{
		text-align: center !important;
		margin-top: 10px !important;
	}
	.bg-imageDiv{
		padding: 63px 0 !important;
	}
	#footer_scroll{
		font-size:13px !important;
	}
	#edit_row{
		margin-left:10px;
		margin-right:10px;
	}
	#Table_filter{
		float:right;
	}
	#mf {
		margin-top:0px !important;
	}
	.orderinfo_user{
		text-align:center;
		float: none !important;
	}
	.orderinfo_name{
		text-align:center;
		float: none !important;
	}
	.orderinfo_totalamt{
		text-align:center;
		float: none !important;
	}
	#ordrno{
		padding-right:40px !important;
	}
	#ordrname{
		padding-right:40px !important;
	}
	#ordrsmtid{
		padding-right:40px !important;
	}
	#top_logo_pos img {
		width: 35% !important;
		margin: 0 auto !important;
	}
	#usrName{
		text-align:center !important;
	}
	#shopName{
		text-align:center !important;
	}
	#sesTime{
		text-align:center !important;
	}
	.login-details {
		line-height: 1.5 !important;
	}
	.client-add > .getButton{
		padding: 10px !important;
	}
	.waves-button{
		padding: 10px !important;
	}
	.client-add > .closeButton {
		padding: 10px !important;
	}
	.client_add_users{
		margin-left:0px !important;
	}
	.table-header h3 {
		padding-right: 0px !important;
	}
	#confirmBtn_btm{
		margin-right: 0px !important;
		width: 150px !important;
	}
	#invoiceBtn_btm{
		width: 150px !important;
	}
	.product-details input[type="text"]{
		width:15px !important;
	}
	#products_display_part {
		padding: 7px 6px !important;
	}
	#pro_disply_part{
		height: 165px !important;
	}
	#productList {
	   height: 120px !important;
	}
	#odinf{
		margin-top:50px !important;
	}
	div.dataTables_wrapper{
		margin-top:45px !important;
	}
	#serviceContainer {
		margin-top: 0px !important;
	}
	#getItemDetails_btn{
		margin-right: 0 !important;
	}
	.table-responsive {
		min-height: .01%;
		overflow-x: auto !important;
	}
	#addServiceDetails_btn{
		margin-right:0 !important;
	}
	.service_usr{
		text-align:center !important;
		float: none !important;
	}
	.service_gst{
		text-align:center !important;
		float: none !important;
	}
	.service_inv{
		text-align:center !important;
		float: none !important;
	}
	#servOrdrBtn{
		float:none !important;
		margin-top: 10px !important;
	}
	#menuToggle{
		/*padding-right:15px !important;
		padding-left:15px !important;*/
		padding-right: 3px !important;
		padding-left: 3px !important;
	}
	#ticketModal{
		width:95% !important;
	}
	.paymntMthd{
		float:none !important;
	}
	.subtotal_invc{
		text-align:center !important;
		float: none !important;
		line-height: 1.5;
		margin:10px 0 !important;
	}
	.subtotal_invc span{
		text-align:center !important;
		float: none !important;
	}
	#invc_btns{
		text-align:center !important;
		float: none !important;
	}
	#print_Invc{
		text-align:center !important;
		float: none !important;
	}
	.id_btns_done{
		text-align:center !important;
	}
	#cash_given_invc{
		margin-bottom: 10px !important;
	}
	#cash_given_invc #cash_given{
		width:60% !important;
	}
	#cash_given_invc #return_amt{
		width:71% !important;
	}
	.product img {
		width: 80% !important;
		margin-right: 0% !important; 
	}
	.product h3{
		width: 100% !important;
	}
	#addServiceDetails_btn{
		margin-top: 10px !important;
		float: none !important;
	}
	#old_smt_id {
		margin-left: 0px !important;
	}
	#orderid {
		margin-left: 11px !important;
	}
	#brand {
		margin-left: -2px !important;
	}
	.exchangeerrorMsg {
		margin-left: 35% !important;
	}
	.exchangeerrorMsg2 {
		margin-left: 35% !important;
	}
	#headrMbl{
		width:100% !important;
	}
	.smtId_part{
		margin-bottom:10px !important;
	}
	#servicesChargesMbl{
		margin-bottom:10px !important;
	}
	#servicesChargesMbl_btn{
		text-align:center !important;
	}
	#addServiceDetails_btn_get{
		margin-right: 0 !important;
	}
	.countpages {
		padding: 5px 5px 5px 5px !important;
	}
	.waves-button{
		width: 35px !important;
		height: 27px !important;
		line-height: 0 !important;
		font-size: 9px !important;
		text-align:center !important;
	}
	.btn-place-order{
		height: 27px !important;
		font-size: 10px !important;
		margin-top: -4px !important;
		text-align: center !important;
	}
	.buttons-countrows{
		margin-bottom: 20px !important;
	}
	.navbar-toggle {
		padding: 5px 5px !important;
		margin-top: 3px !important;
		margin-bottom: 3px !important;
		border-radius: 2px !important;
	}
	.footer {
	    position: none !important;
	    width: none !important;
		float: left !important;
		padding: 10px 0 !important;
		margin: 0 0px 0 -15px !important;
	}
}

@media screen and (max-width:767px) and (min-width:469px) {
	#login_top_headr{
		padding: 10px 0;
	}
	.smt_logo{
		margin-left: 37% !important;
		text-align: center !important;
		width: 25% !important;
	}
	.login-title-pos {
		font-size: 16px !important;
		margin-top: 5px !important;
	}
	.login-query{
		text-align: center !important;
		margin-top: 10px !important;
	}
	#footer_scroll{
		font-size:15px !important;
	}
	#edit_row{
		margin-left:10px;
		margin-right:10px;
	}
	#Table_filter{
		float:right;
	}
	#mf {
		margin-top:0px !important;
	}
	.orderinfo_user{
		text-align:center;
		float: none !important;
	}
	.orderinfo_name{
		text-align:center;
		float: none !important;
	}
	.orderinfo_totalamt{
		text-align:center;
		float: none !important;
	}
	#ordrno{
		padding-right:40px !important;
	}
	#ordrname{
		padding-right:40px !important;
	}
	#ordrsmtid{
		padding-right:40px !important;
	}
	#top_logo_pos img {
		width: 20% !important;
		margin: 0 auto !important;
	}
	#usrName{
		text-align:center !important;
	}
	#shopName{
		text-align:center !important;
	}
	#sesTime{
		text-align:center !important;
	}
	.login-details {
		line-height: 1.5 !important;
	}
	.client_add_users{
		margin-left:0px !important;
	}
	.table-header h3 {
		padding-right: 0px !important;
	}
	#pro_disply_part{
		height: 165px !important;
	}
	#productList {
	   height: 120px !important;
	}
	#confirmBtn_btm{
		margin-right: 0px !important;
		width: 200px !important;
	}
	#invoiceBtn_btm{
		width: 200px !important;
	}
	#odinf{
		margin-top:50px !important;
	}
	div.dataTables_wrapper{
		margin-top:45px !important;
	}
	#getItemDetails_btn{
		margin-right: 0 !important;
	}
	.table-responsive {
		min-height: .01%;
		overflow-x: auto !important;
	}
	#addServiceDetails_btn{
		margin-right:0 !important;
	}
	.service_usr{
		text-align:center !important;
		float: none !important;
	}
	.service_gst{
		text-align:center !important;
		float: none !important;
	}
	.service_inv{
		text-align:center !important;
		float: none !important;
	}
	#servOrdrBtn{
		/*float:none !important;*/
		margin-top: -5px !important;
	}
	#ticketModal{
		width:95% !important;
	}
	.paymntMthd{
		float:none !important;
	}
	.subtotal_invc{
		text-align:center !important;
		float: none !important;
		line-height: 1.5;
		margin:10px 0 !important;
	}
	.subtotal_invc span{
		text-align:center !important;
		float: none !important;
	}
	#invc_btns{
		text-align:center !important;
		float: none !important;
	}
	#print_Invc{
		text-align:center !important;
		float: none !important;
	}
	.id_btns_done{
		text-align:center !important;
	}
	#cash_given_invc{
		margin-bottom: 10px !important;
	}
	#cash_given_invc #cash_given{
		width:60% !important;
	}
	#cash_given_invc #return_amt{
		width:71% !important;
	}
	.product img {
		width: 60% !important;
		margin-right: 0% !important; 
		transform: translate(-50%, 0%) !important;
		-moz-transform: translate(-50%, 0%) !important;
		-ms-transform: translate(0%, 0%) !important;
		-webkit-transform: translate(-50%, 0%) !important;
	}
	#addServiceDetails_btn{
		margin-top: 10px !important;
		float: none !important;
	}
	#old_smt_id {
		margin-left: 0px !important;
	}
	#orderid {
		margin-left: 11px !important;
	}
	#brand {
		margin-left: -2px !important;
	}
	.exchangeerrorMsg {
		margin-left: 28% !important;
	}
	.exchangeerrorMsg2 {
		margin-left: 28% !important;
	}
	#headrMbl{
		width:100% !important;
	}
	.smtId_part{
		margin-bottom:10px!important;
	}
	#servicesChargesMbl{
		margin-bottom:10px !important;
	}
	#servicesChargesMbl_btn{
		text-align:center !important;
	}
	#addServiceDetails_btn_get {
		margin-right: 0 !important;
	}
	.countpages {
		padding: 8px !important;
	}
	.waves-button{
		width: 60px !important;
		height: 33px !important;
		line-height: 0 !important;
		font-size: 9px !important;
		text-align:center !important;
	}
	.btn-place-order{
		height: 33px !important;
		font-size: 11px !important;
		margin-top: -4px !important;
		text-align: center !important;
	}
	.buttons-countrows{
		margin-bottom: 20px !important;
	}
	.navbar-toggle {
		padding: 5px 5px !important;
		margin-top: 3px !important;
		margin-bottom: 3px !important;
		border-radius: 2px !important;
	}
	#menuToggle {
		/*padding-right:15px !important;
		padding-left:15px !important;*/
		padding-right: 3px !important;
		padding-left: 3px !important;
	}
}

@media screen and (max-width:1024px) and (min-width:768px) {
	#login_top_headr{
		padding: 10px 0;
	}
	.login-title-pos {
		font-size: 16px !important;
	}
	.smt_logo{
		margin-left: 35% !important;
		text-align: center !important;
		width: 50% !important;
	}
	.login-query{http://localhost/qapos/pos-site-index.html#
		text-align: center !important;
	}
	.login-query {
		font-size: 10px !important;
	}
	#footer_scroll{
		font-size:18px !important;
	}
	.orderinfo_user{
		text-align:center;
		float: none !important;
	}
	.orderinfo_name{
		text-align:center;
		float: none !important;
	}
	.orderinfo_totalamt{
		text-align:center;
		float: none !important;
	}
	#top_logo_pos img {
		width: 100% !important;
	}
	
	.client-add > .closeButton {
		padding: 10px !important;
	}
	.client_add_users{
		margin-left:0px !important;
	}
	#confirmBtn_btm{
		margin-right: 0px !important;
	}
	#odinf{
		margin-top:50px !important;
	}
	.service_module1 {
		margin-top: 50px !important;
	}
	#ticketModal{
		width:95% !important;
	}
	.paymntMthd{
		float:none !important;
	}
	.subtotal_invc{
		/*text-align:center !important;
		float: none !important;
		line-height: 1.5;
		margin:10px 0 !important;*/
	}
	.subtotal_invc span{
		/*text-align:center !important;
		float: none !important;*/
	}
	#invc_btns{
		text-align:center !important;
		float: none !important;
	}
	#print_Invc{
		text-align:center !important;
		float: none !important;
	}
	.id_btns_done{
		text-align:center !important;
	}
	#cash_given_invc{
		margin-bottom: 10px !important;
	}
	#cash_given_invc #cash_given{
		/*width:60% !important;*/
	}
	#cash_given_invc #return_amt{
		/*width:71% !important;*/
	}
}
@media screen and (max-width:992px) and (min-width:768px) {
	#pro_disply_part{
		height: 165px !important;
	}
	#productList {
	   height: 120px !important;
	}
	#odinf{
		margin-top:50px !important;
	}
	div.dataTables_wrapper{
		margin-top:45px !important;
	}
	.service_usr{
		text-align:center !important;
		float: none !important;
	}
	.service_gst{
		text-align:center !important;
		float: none !important;
	}
	.service_inv{
		text-align:center !important;
		float: none !important;
	}
	.product img {
		width: 60% !important;
	}
	.exchangeerrorMsg {
		margin-left: 25% !important;
	}
	.exchangeerrorMsg2 {
		margin-left: 32% !important;
	}
	#addServiceDetails_btn_get {
		margin-right: 56% !important;
	}
	#getItemDetails_btn{
		margin-right: 63% !important;
	}
}

@media screen and (max-width:1096px) and (min-width:769px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 7px !important;
	}
	.fa.fa-sign-out.fa-lg {
		font-size: 8px !important;
	}
}

@media screen and (max-width:1096px) and (min-width:992px) {
	#pro_disply_part{
		height: 356px !important;
	}
	#productList {
	   height: 120px !important;
	}
	#addServiceDetails_btn_get {
		margin-right: 66% !important;
	}
	#getItemDetails_btn{
		margin-right: 71% !important;
	}
	div.dataTables_wrapper{
		margin-top:50px !important;
	}
	
}
@media screen and (max-width:1200px) and (min-width:1024px) {
	#login_top_headr{
		padding: 10px 0;
	}
	.smt_logo{
		width: 50% !important;
	}
	#top_logo_pos img {
		width: 60% !important;
	}
	.client-add > .closeButton {
		padding: 10px !important;
	}
	.client_add_users{
		margin-left:0px !important;
	}
	#confirmBtn_btm{
		margin-right: 0px !important;
	}
	#getItemDetails_btn{
		margin-right: 71% !important;
	}
	#addServiceDetails_btn_get {
		margin-right: 66% !important;
	}
}

@media screen and (max-width:1300px) and (min-width:1201px) {
	.smt_logo{
		width: 50% !important;
	}
	.login-title-pos {
		margin-top: 10px !important;
	}
	.login-query{
		margin-top: 13px !important;
	}
	#top_logo_pos img {
		width: 60% !important;
	}
	#confirmBtn_btm{
		margin-right: 0px !important;
	}
}

/****   responsive styles end here ****/

.userMblSelection{
	padding:7px;
	cursor:pointer;
}
.userMblSelection:hover{
	/*background:#e7e3e3;*/
	background:#0487a1;
	color:#fff;
}
#sectMblNum{
	font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
#mblinput{
	margin-bottom: 10px;
}
#mblstyle{
	color:#f65e48;
	font-weight:bold;
}
#lgout{
	font-size:12px;
}
#old_smt_id{
	margin-right: 5px;
    margin-left: 5px;
}
#orderid{
	 margin-left:15px;
}
#productdesp{
	margin-left:19px;
}
#brand{
	margin-left: 2px;
}
#model{
	margin-left:41px;
}
#new_smt_id{
	margin-left: 24px;
}
.exc-pol-new1{
	margin-left:35%;
}
.exchangeerrorMsg{
	margin-left: 15%;
}
.exchangeerrorMsg2{
	margin-left: 20%;
}
.inputs{
	border: 1px solid #ddd;
    padding: 10px;
	margin: -10px 0 -6px 0;
}
#avlsmtids{
	margin-left: 24px;
    width: 24%;
}
#nav_bckground{
	background: #e1e1e1;
    border: 1px solid #d6d4d4;
}




.footer{
	background: #bebebe;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    margin: 0 -15px;
	color:#000;
}